body {
    background-color: rgb(37, 37, 99);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    /* 🔥 ΚΕΝΤΡΑΡΕΙ ΟΛΗ ΤΗ ΣΕΛΙΔΑ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* κρατάει πάνω τον τίτλο */
    min-height: 100vh;
}

/* τίτλος */
h1 {
    text-align: center;
    color: aqua;
    padding: 20px;
    width: 100%;
}

/* container start button */
.start_button_container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* ❌ ΣΗΜΑΝΤΙΚΟ: ΣΒΗΣΕ height */
    height: auto;
    margin-top: 80px;
}

/* button */
.button_start_game {
    background-color: rgb(245, 5, 5);
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

/* hover */
.button_start_game:hover {
    background-color: rgb(204, 23, 23);
    transform: scale(1.05);
}

/* click */
.button_start_game:active {
    background-color: green;
}

/* hide animation */
.button_start_game.hide {
    transform: translateY(-200px);
    opacity: 0;
    transition: 0.5s;
}

/* QUIZ BOX */
#quizBox {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;

    /* start hidden animation */
    opacity: 0;
    transform: translateY(80px);
    transition: 0.5s ease;
}

/* show */
#quizBox.show {
    opacity: 1;
    transform: translateY(0);
}

/* hidden */
.hidden {
    display: none;
}

/* answers */
#answers button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    transition: 0.3s;
}

#answers button:hover {
    transform: scale(1.02);
}

/* score */
.score {
    color: rgb(24, 171, 2);
    font-size: 2rem;
}

#muteBtn {
    position: fixed;
    top: 0;
    right: 0;
    background: yellow;
    z-index: 99999;
}

#muteBtn:hover {
    transform: scale(1.05);
}

.creator {
    position: fixed;
    bottom: 10px;
    left: 10px;

    color: white;
    font-size: 0.9rem;
    opacity: 0.7;

    background: rgba(0,0,0,0.3);
    padding: 6px 10px;
    border-radius: 8px;
}